.btn {
    color:white;
    background-color: #50B83C;
    padding:0 16px;
    border:unset;
    border-radius: 4px;
    min-width: 80px;
    height:36px;
}
.btn:hover:not([disabled]) {
    background-color: #73C663;
    cursor:pointer;
}
.btn:active {
    background-color: #409330;
}
.btn:disabled{
    opacity:0.56;
}

.btn-secondary {
    background-color:white;
    color:black;
    border: 1px solid #E0E0E0;
}
.btn-secondary:hover:not([disabled]) {
    background-color:#EEEEEE;
}
.btn-secondary:active {
    background-color:#E0E0E0;
}