.dialog-wrapper{
    background: rgba(0, 0,0, 0.4);
    /* display:none; */
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1000;
}


.dialog{
    background-color: #fff;
    position:absolute;
    padding:24px 24px 0 24px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:4px;
}

.dialog-add-emp{
    width:900px;
}




/* HEADER */

.dialog-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:24px;
}

.dialog-title {
    font-size:24px;
    font-family: Noto-Sans-Bold;
}
.dialog-header-left{
    display:flex;
    gap:30px;
}
.dialog-header-right{
    display:flex;
    gap:8px;
}


/* CONTENT */

.dialog-body-top{
    display:flex;
    gap:24px;

}
.row-flex{
    width:100%;
    display:flex;
    gap:8px;
}

.flex-1{
    flex:1;
}

.w-25{
    width:25%;
}
.w-40{
    width:40%;
}
.w-50{
    width:50%;
}
.w-60{
    width:60%;
}
.w-0{
    width:0;
}



/* FOOTER */

.dialog-footer {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:12px 0;
    border-top:1px solid #E0E0E0;
}
.dialog-footer .btn-action {
    display:flex;
    align-items:center;
    gap:8px;
}



/* ALERT */

.alert{
    z-index:1001;
}

.alert-dialog{
    width:400px;
}

.alert-body{
    margin-bottom:24px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:24px;
    flex-wrap: nowrap;
}
.alert-body .content-message{
    flex:1;
}

.alert-danger-footer,.alert-success-footer{
    justify-content: center;
}
.alert-warning-exist-footer{
    justify-content: flex-end;
}
